<div class="container-xxl py-5">
    <div class="container">
        
        <!-- <img src="/assets/Electrical Engg..jpg" alt="" width="100" height="200" class="center"><br> -->
        <h1 style="text-align:center;"><span>Electrical Engineering</span></h1><br><br>
        <h3 style="text-align:left;"><span>About Department:</span></h3>
        <h5 style="text-align:justify; color: black;">The Electrical Engineering Department, led by Dr. Ananya Gupta, is dedicated to providing quality education and fostering innovation in the field of electrical engineering. Our experienced faculty members, under her leadership, focus on imparting theoretical knowledge as well as practical skills through hands-on projects and industry collaborations. We prepare our students to become future-ready engineers capable of addressing the evolving challenges in the electrical industry.</h5><br><br>

        <h3 style="text-align:left;"><span>Salient features of Department:</span></h3>
        <h5 style="text-align:justify; color: black;">Established in 2008, the Electrical Engineering Department has a long-standing reputation for excellence in education and research. We offer a comprehensive curriculum that covers fundamental principles as well as advanced topics in electrical engineering. Our state-of-the-art labs and facilities provide students with opportunities for hands-on learning and experimentation. The department also encourages interdisciplinary research and collaboration with industries to address real-world problems.</h5><br>

        <h3 style="text-align:left;"><span>Career Prospects:</span></h3>
        <h5 style="text-align:left; color: black;">
            ● Power generation, transmission, and distribution<br>
            ● Renewable energy systems<br>
            ● Electrical and semiconductor industry<br>
            ● Automation and control systems<br>
            ● Telecommunications and networking<br>
            ● Research and development organizations
        </h5><br><br>

        <div class="row">
            <div class="column" style="background-color:antiquewhite;">
                <h2 style="color:black;">Vision</h2>
                <h5>● To be a global leader in Electrical Engineering education and research, producing highly skilled professionals and innovators.</h5>
            </div>
            <div class="column" style="background-color:antiquewhite;">
                <h2 style="color:black;">Mission</h2>
                <h5>● To provide quality education and research opportunities in Electrical Engineering.<br>
                   ● To foster innovation and entrepreneurship among students.<br>
                   ● To collaborate with industries and academia to address societal challenges.<br>
                   ● To instill ethical values and social responsibility in students.</h5>
            </div>
        </div>
    </div>
</div>
