<app-cestudentpanel></app-cestudentpanel>

<div class="main">
    <h1 class="text-center mb-5">Exam Result</h1>

    <div class="container-fluid">
        <div class="card p-4" style="border-radius: 15px; background-color: #fff;">
            <h2 class="text-center mb-4 text-danger">All Students Marks</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Roll No.</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">M-I</th>
                            <th class="text-center">Physics</th>
                            <th class="text-center">Chemistry</th>
                            <th class="text-center">Engg. Draw.</th>
                            <th class="text-center">Total Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let l of loginpages">
                            <td class="text-center">{{l.id}}</td>
                            <td class="text-center">{{l.firstname}}</td>
                            <td class="text-center">{{l.lastname}}</td>
                            <td class="text-center">{{l.mI}}</td>
                            <td class="text-center">{{l.physics}}</td>
                            <td class="text-center">{{l.chemistry}}</td>
                            <td class="text-center">{{l.enggdraw}}</td>
                            <td class="text-center">{{l.totalmarks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
