<div class="container">
  <h2 class="text-center">All Books</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>ISBN</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.isbn }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="updateBookForm(book)">Update</button>
          <!-- <button type="button" class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>

  <div class="update-form" *ngIf="selectedBook">
    <h3>Update Book</h3>
    <form (ngSubmit)="updateBook()">
      <div class="form-group">
        <label for="update-title">Title</label>
        <input type="text" class="form-control" id="update-title" [(ngModel)]="selectedBook.title" name="updateTitle">
      </div>
      <div class="form-group">
        <label for="update-author">Author</label>
        <input type="text" class="form-control" id="update-author" [(ngModel)]="selectedBook.author" name="updateAuthor">
      </div>
      <div class="form-group">
        <label for="update-genre">Genre</label>
        <input type="text" class="form-control" id="update-genre" [(ngModel)]="selectedBook.genre" name="updateGenre">
      </div>
      <div class="form-group">
        <label for="update-isbn">ISBN</label>
        <input type="text" class="form-control" id="update-isbn" [(ngModel)]="selectedBook.isbn" name="updateIsbn">
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
