<app-studentpanel></app-studentpanel>
<div class="main">
  <h1 class="text-center mb-5">Electrical Engineering</h1>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title">Result</h2>
            <!-- <h3>Total Students: 60</h3>
            <h3>Newly Added: 15</h3> -->
            <button class="btn btn-primary" (click)="students()">Go to Page</button>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title">Fees</h2>
            <!-- <h3>Total Faculties: 12</h3>
            <h3>Newly Added: 3</h3> -->
            <button class="btn btn-primary" (click)="marksheet()">Go to Page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Additional sections can be added similarly -->

</div>