<!-- <br><br>
<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <h5 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"><span> Student Sign Up </span></h5>
  
                  <form  #insertdata="ngForm" (ngSubmit)="insertdetails(insertdata)">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" class="form-control" name="firstname" ngModel=" ">
                        <label class="form-label" for="form3Example1c">First Name</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example2c" class="form-control" name="lastname" ngModel=" "/>
                          <label class="form-label" for="form3Example2c">Last Name</label>
                        </div>
                      </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" name="email" ngModel=" "/>
                        <label class="form-label" for="form3Example3c">Email Id</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" class="form-control" name="password" ngModel=" "/>
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in terms of service
                      </label>
                    </div>
                    
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      
                      <button type="submit"  class="btn btn-primary btn-lg" value="Insert" (click)="insertdetails(insertdata)" >Submit</button>   
                    </div>
                
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="/assets/signup.webp" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<div class="container-xxl py-5">
  <h1 class="text-center mb-5"><span>Student SignUp</span></h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="branch" class="form-label">Select Branch</label>
              <select
                id="branch"
                class="form-select"
                (change)="selectFunctions($event)"
              >
                <option value="">Select Branch</option>
                <option value="mechanical">Mechanical Engineering</option>
                <option value="electronics">Electronics Engineering</option>
                <option value="computer">Computer Engineering</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--New M.E ADD-->
<div *ngIf="div1">
  <h2 style="text-align: center"><span>M.E. Students SignUp</span></h2>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form #insertdata="ngForm" (ngSubmit)="insertdetails1(insertdata)">
              <div class="mb-3">
                <label for="id" class="form-label">Roll No.</label>
                <input
                  type="number"
                  id="id"
                  placeholder="Roll No."
                  class="form-control"
                  name="id"
                  ngModel
                  required
                />
              </div>
              <!-- Add required attribute to each input field -->
              <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input
                  type="text"
                  id="firstname"
                  placeholder="First Name"
                  class="form-control"
                  name="firstname"
                  ngModel
                  required
                />
              </div>
              <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input
                  type="text"
                  id="lastname"
                  placeholder="Last Name"
                  class="form-control"
                  name="lastname"
                  ngModel
                  required
                />
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="gender" class="form-label">Gender</label>
                  <select id="gender" class="form-select" name="gender" ngModel required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="col">
                  <label for="branch" class="form-label">Branch</label>
                  <select id="branch" class="form-select" name="branch" ngModel required>
                    <option value="" disabled selected>Select Branch</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                  </select> 
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="year" class="form-label">Year</label>
                  <input
                    type="number"
                    id="year"
                    placeholder="Year"
                    class="form-control"
                    name="year"
                    ngModel
                    required
                  />
                </div>
                <div class="col">
                  <label for="sem" class="form-label">Semester</label>
                  <input
                    type="number"
                    id="sem"
                    placeholder="Semester"
                    class="form-control"
                    name="sem"
                    ngModel
                    required
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="mobileno" class="form-label">Mobile No.</label>
                <input
                  type="number"
                  id="mobileno"
                  placeholder="Mobile No."
                  class="form-control"
                  name="mobileno"
                  ngModel
                  required
                />
              </div>
              <div class="mb-4">
                <small class="text-danger">{{msg}}</small><br>
                <label for="email" class="form-label">Email address</label>
                <input type="email" id="email" placeholder="example@xyz.com" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div *ngIf="email.invalid && email.touched" class="text-danger">Enter a Valid Email</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  required
                  minlength="5"
                  maxlength="16"
                  id="password"
                  placeholder="Password"
                  class="form-control"
                  name="password"
                  ngModel
                  required
                />
              </div>
              <!-- Disable the button if the form is invalid -->
              <div class="col-md-12 text-center">
                <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!insertdata.valid">
                  SignUp
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--New E.E ADD-->
<div *ngIf="div2">
  <h2 style="text-align: center"><span>E.E. Students SignUp</span></h2>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form #insertdata="ngForm" (ngSubmit)="insertdetails2(insertdata)">
              <div class="mb-3">
                <label for="id" class="form-label">Roll No.</label>
                <input
                  type="number"
                  id="id"
                  placeholder="Roll No."
                  class="form-control"
                  name="id"
                  ngModel
                  required
                />
              </div>
              <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input
                  type="text"
                  id="firstname"
                  placeholder="First Name"
                  class="form-control"
                  name="firstname"
                  ngModel
                  required
                />
              </div>
              <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input
                  type="text"
                  id="lastname"
                  placeholder="Last Name"
                  class="form-control"
                  name="lastname"
                  ngModel
                  required
                />
              </div>
              <div class="row">
                <div class="col">
                  <label for="gender" class="form-label">Gender</label>
                  <select id="gender" class="form-select" name="gender" ngModel>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="col">
                  <label for="branch" class="form-label">Branch</label>
                  <select id="bra\" class="form-select" name="branch" ngModel>
                    <option value="Mechanical Engineering">
                      Mechanical Engineering
                    </option>
                    <option value="Electrical Engineering">
                      Electrical Engineering
                    </option>
                    <option value="Computer Engineering">
                      Computer Engineering
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="year" class="form-label">Year</label>
                  <input
                    type="number"
                    id="year"
                    placeholder="Year"
                    class="form-control"
                    name="year"
                    ngModel
                    required
                  />
                </div>
                <div class="col">
                  <label for="sem" class="form-label">Semester</label>
                  <input
                    type="number"
                    id="sem"
                    placeholder="Semester"
                    class="form-control"
                    name="sem"
                    ngModel
                    required
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="mobileno" class="form-label">Mobile No.</label>
                <input
                  type="number"
                  id="mobileno"
                  placeholder="Mobile No."
                  class="form-control"
                  name="mobileno"
                  ngModel
                  required
                />
              </div>
              <div class="mb-4">
                <small class="text-danger">{{msg}}</small><br>
                <label for="email" class="form-label">Email address</label>
                <input type="email" id="email" placeholder="example@xyz.com" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div *ngIf="email.invalid && email.touched" class="text-danger">Enter a Valid Email</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  required
                  minlength="5"
                  maxlength="16"
                  id="password"
                  placeholder="Password"
                  class="form-control"
                  name="password"
                  ngModel
                  required
                />
              </div>
              <!-- Disable the button if the form is invalid -->
              <div class="col-md-12 text-center">
                <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!insertdata.valid">
                  SignUp
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---CE SIGNUP-->

<div *ngIf="div3">
  <h2 style="text-align: center"><span>C.E. Students SignUp</span></h2>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form #insertdata="ngForm" (ngSubmit)="insertdetails3(insertdata)">
              <div class="mb-3">
                <label for="id" class="form-label">Roll No.</label>
                <input
                  type="number"
                  id="id"
                  placeholder="Roll No."
                  class="form-control"
                  name="id"
                  ngModel
                  required
                />
              </div>
              <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input
                  type="text"
                  id="firstname"
                  placeholder="First Name"
                  class="form-control"
                  name="firstname"
                  ngModel
                  required
                />
              </div>
              <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input
                  type="text"
                  id="lastname"
                  placeholder="Last Name"
                  class="form-control"
                  name="lastname"
                  ngModel
                  required
                />
              </div>
              <div class="row">
                <div class="col">
                  <label for="gender" class="form-label">Gender</label>
                  <select id="gender" class="form-select" name="gender" ngModel required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
                <div class="col">
                  <label for="branch" class="form-label">Branch</label>
                 <select id="branch" class="form-select" name="branch" ngModel required>
                    <option value="Mechanical Engineering">
                      Mechanical Engineering
                    </option>
                    <option value="Electrical Engineering">
                      Electrical Engineering
                    </option>
                    <option value="Computer Engineering">
                      Computer Engineering
                    </option>
                  </select> 
                 <!-- <input type="text" id="branch" placeholder="Branch" class="form-control" name="branch" ngModel> -->
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="year" class="form-label">Year</label>
                  <input
                    type="number"
                    id="year"
                    placeholder="Year"
                    class="form-control"
                    name="year"
                    ngModel
                    required
                  />
                </div>
                <div class="col">
                  <label for="sem" class="form-label">Semester</label>
                  <input
                    type="number"
                    id="sem"
                    placeholder="Semester"
                    class="form-control"
                    name="sem"
                    ngModel
                    required
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="mobileno" class="form-label">Mobile No.</label>
                <input
                  type="number"
                  id="mobileno"
                  placeholder="Mobile No."
                  class="form-control"
                  name="mobileno"
                  ngModel
                  required
                />
              </div>
              <div class="mb-4">
                <small class="text-danger">{{msg}}</small><br>
                <label for="email" class="form-label">Email address</label>
                <input type="email" id="email" placeholder="example@xyz.com" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <div *ngIf="email.invalid && email.touched" class="text-danger">Enter a Valid Email</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  required
                  minlength="5"
                  maxlength="16"
                  id="password"
                  placeholder="Password"
                  class="form-control"
                  name="password"
                  ngModel
                  required
                />
              </div>
                <!-- Disable the button if the form is invalid -->
                <div class="col-md-12 text-center">
                  <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!insertdata.valid">
                    SignUp
                  </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
