<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="events-container">
          <h1 class="text-center mb-4">Passed Events</h1>
          <div class="marquee">
            <marquee direction="left" behavior="scroll" scrollamount="5">
              <ul class="event-list">
                <li>Annual Conference on Artificial Intelligence - 2024</li>
                <li>International Summit on Renewable Energy - 2024</li>
                <li>Global Conference on Sustainable Development - 2024</li>
                <li>Workshop on Data Science and Machine Learning</li>
                <li>Web Development Bootcamp</li>
              </ul>
            </marquee>
          </div>
        </div>
      </div>
    </div>
  </div>
  