       <div>
        <br>
       
        <br>
            <h1 style="text-align: center;"><span>Events</span> </h1><br>
            <marquee
            direction="right"
            width="100%"
            height="100%"
            behavior="alternate">
                  <ul>
                      <li>Smart India Hackathon-2023 (SIH-2023)</li>
                      <li>Two days Workshop on PCB Design</li>
                      <li>Two days Workshop on PCB Design</li>
                  </ul>
                  </marquee><br><br><br>
			<!--<img src="https://thumbs.dreamstime.com/b/chalkboard-blackboard-news-events-hand-writing-chalk-text-blue-145672264.jpg" alt="" width="400" height="500" class="center"><br><br><br>-->
            
       </div> 
		