<app-eestudentpanel></app-eestudentpanel>

<div class="main">
    <h1 class="text-center mb-5">Exam Result</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card p-4" style="border-radius: 15px; background-color: #fff;">
                    <h2 class="text-center mb-4 text-danger">All Students Marks</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Roll No.</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Physics</th>
                                    <th>Chemistry</th>
                                    <th>Engg. Draw.</th>
                                    <th>Total Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of loginpages">
                                    <td>{{l.id}}</td>
                                    <td>{{l.firstname}}</td>
                                    <td>{{l.lastname}}</td>
                                    <td>{{l.mI}}</td>
                                    <td>{{l.physics}}</td>
                                    <td>{{l.chemistry}}</td>
                                    <td>{{l.enggdraw}}</td>
                                    <td>{{l.totalmarks}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
